.navbar-brand {
  color: rgb(190, 54, 54);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
}

.header{
  align-content: center;
}

.data{
  padding: 20px;
  width: 100%;
  display:flex;
}

.card {
  font-size: 80%;
}

.card-title {
  text-align: center;
}  

.button{
  font-size: 60%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {
  text-align: center;
  vertical-align: middle !important;
}

.objetosTable {
  font-size: 70%;
  margin-left: 1%;
  margin-right: 1%;
} 

.obligacionTable th {
  height: '70px'; 
  padding: '5px 0';
}

.obligacionData {
  line-height: 10px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.errorMessage{ 
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  padding: 50px;
  text-align: center;
}