.errorMessage{ 
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  padding: 50px;
  text-align: center;
}

.navbar-brand {
  color: rgb(190, 54, 54);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
}

.button{
  font-size: 55%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.table {
  font-size: 70%;
  margin-top: 1%;
  padding: 5% 5% 5% 5%;
  text-align: center;
  vertical-align: middle !important;
}

.breadcrumb {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}